<ion-header>
    <ion-toolbar>
        <ion-buttons  slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
                Results
            </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <img style="width: 100%" src="./assets/images/gumball{{rnd}}.png" />
    <div class="results-text">
        <p><span>Time Record:</span> {{time}}</p>
        <p><span> Yeahhh !:</span> {{positivePoints}}</p>
        <p><span>Oh Meowww !:</span> {{negativePoints}}</p>
        <ion-button  color="primary" size="large" (click)="dismiss()">AGAIN</ion-button>
    </div>
</ion-content>