.results-text {
    font-size: 29px;
    font-weight: 300;
    display: block;
    margin: 20px;
    text-align: center;
    span{
        font-weight: 700;
        background: black;
        color: white;
        padding: 10px;
    }
}
