<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Training
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="margin: 20px; float: right;">TIME: <span id="hms"></span></div>
    <div style="display: block;clear: both; margin: 20px auto; font-size: 36px; font-weight: 700; text-align: center">
        <p>{{word}}</p>
        <!-- <div id="hms"></div> -->
    </div>
    <ion-button color="primary" (click)="positivePoint()">{{positive}} Yeah!</ion-button>
    <ion-button color="secondary" (click)="negativePoint()">{{negative}} Meow!</ion-button>
</ion-content>