<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Training
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="margin: 20px; float: right;">TIME: <span id="hms"></span></div>
    <div
        style="display: block;clear: both; margin: 140px auto 20px; font-size: 76px; font-weight: 700; text-align: center">
        <p>{{word}}</p>
        <!-- <div id="hms"></div> -->
    </div>
    <div style="width: 100%; margin-top: 40px; display: block; text-align: center">
        <ion-button color="primary" (click)="positivePoint()" size="large">{{positive}} Yeah!</ion-button>
        <ion-button color="danger" (click)="negativePoint()" size="large">{{negative}} Meow!</ion-button>
    </div>
</ion-content>