<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Training
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <p>{{word}}</p>
        <div id="hms"></div>
    </div>
    <ion-button color="primary" (click)="positivePoint()">{{positive}} Yeah!</ion-button>
    <ion-button color="secondary" (click)="negativePoint()">{{negative}} Meow!</ion-button>
</ion-content>